html,body{
	max-width:100%;
	overflow-x:hidden; /* Can't scroll past the browsers width */
	background-color: #FEFEFE !important;
	box-sizing:border-box;
}



/*****************/


/* Top Nav-Bar */

.navbar {
  margin-bottom: 0px !important;
}		
											/* THE NAV CAN BE DELETED LATER ON*/
.navbar-brand > img {
  height: 30px;
}

/* Top Nav bar */






#Main-Content{
	margin-top:57px; /* For Bootstraps NavBar Delete Later */
	width:100%;
	height:3000px;
	position:relative;
	margin-left:271px;
}

#Main-Content > div{
	display:inline-block;
}


/* InMusik Navigation Bar */
/*.Default-Navigation-Bar{
	box-sizing:border-box;
	float:left;
	border:1px solid black;
	max-width:271px;
	height:100%;
	background:#EEE;
}

.Default-Navigation-Bar h3{
	width:100%;
	border-bottom: 1px solid #dcdedf;
}*/
/* Navigation Bar */


/* Music Player */
.Music-Player{
	position:fixed;
	height:70px;
	width:75px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	background:#222;
	right:0;
	top:175px;
	border-left:3px solid #403f41;
	border-bottom:3px solid #403f41;
	border-top:3px solid #403f41;
	z-index: 1;
}

.Play-Button-Wrapper{
	box-sizing:border-box;
	display:block;
	width:32.2px;
	height:38px;
	position: absolute;
	left:50%;
	top:50%;
	margin-top: -19px;
	margin-left:-16.1px; 
	
}

.Default-Play-Button{
	color:#00B4FF;
	font-size: 2.3em;
	cursor:pointer;
	-webkit-transition-property:background;
	-webkit-transition-property:.3s;
	-webkit-transition-function:ease-in-out;
	transition-property:color;
	transition-duration:.3s;
	transition-timing-function:ease-in-out;
}

.Default-Play-Button:hover{
	color:#fff;
}


/* Music Player */




/* News Content */

.News-Content{
	background:white;
	width:1100px; /* play around with this later on. Maybe add just a News Content with a width of 100% and padding of 271px for the navigation bar */
}

.News-Introduction{
	width:95%;
	margin:0 auto;
	border-bottom: 1px solid #DCDEDF;
	margin-top: 25px;
	font-weight:500;
}


.News-Introduction p{
	display:inline-block;
	font-size: 35px;
	margin-bottom: 5px;
}



/* Title */

.Article-Title{
	margin-top: 50px;
	border-bottom: 1px solid black;
	width:75%;
	margin-left: 25px;
}

.Article-Title h1{
	font-family: 'Josefin Sans', sans-serif;
	color:#262626;
	font-size: 5em;
}

/* Title */

.Below-Title{
	margin-top: 30px;
	position:relative;
}

.authors-profile{
	display: inline-block;
	margin-left: 25px;	
}

.authors-profile p{
	display:inline-block;
}

.Profile-Pic{
	height:100px;
	width:100px;	/* Parent is .authors-profile */
	border-radius:25px;
	float:left;
}

.Profile-info{
	display:inline-block;
	font-family:Verdana, Geneva, sans-serif;
	font-weight: bold;
	margin-left: 15px;
	margin-top: 18px;
}


.Profile-info p {
	line-height: 90%;
	display:block;
}

/*Social Media */

.Social-Media{
	display:inline-block;
	position:absolute;
	height:56px;
	margin-top: -28px;
	top:50%;
	right:1%;
}

.facebook-circle{
	color:#3B5998;
}

.twitter-circle{
	color:#00ABEC;
}

.flickr-circle{
	color:#FF0187;
}

.envelope-circle{
	color:rgb(92, 198, 66);
}

.facebook:hover{
	
}
.twitter:hover{
	
}

.flickr:hover{
	
}

.envelope:hover{
	
}


/* Social Media */







/* Article Image */

.Main-Image-Wrapper{
	position:relative;
}

.Main-Image{
	display:inline-block;
	margin-top: 35px;
	margin-left: 25px;
}

figcaption{
	text-align: center;
}

/* Advertisements */


.Advertisement-One{
	display:inline-block;
	float:right;
	width:260px;
	height:200px;
	border:1px solid black;
	position:absolute;
	top:35px;
	right:10px;
	background:url(http://allthingsd.com/files/2013/03/Screen-Shot-2013-03-26-at-8.07.52-AM.png);
	background-size:contain;
	background-position: center;
}


/* Advertisements */








/* Article Image */




/* News-Paragraph */

.News-Text{
	position:relative;
}

.News-Paragraphs{
	box-sizing:border-box;
	display:inline-block;
	font-size: 15px;
	line-height: 150%;
	font-family: 'Poppins', sans-serif;
	width:66%;
	margin-top:40px;
	margin-left: 25px;
	padding:20px 15px 20px 25px;
	border-radius:5px;
	border: 1px solid #DCDEDF;
}




/* Side Advertisements */

.Wall-Of-Sounds{
	display:inline-block;
	width:300px;
	height:300px;
  	top: 42px;
  	position:relative;
  	float:right;
  	font-family: Verdana,'sans-serif';
  	text-align: center;
  	background:url('http://thepaperwall.com/wallpapers/music/big/big_f896cefafccd56ef51443c6ec7ab4eeb937db1c0.jpg');
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
}

.Wall-Of-Sounds-Caption{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	cursor:pointer;
}



.Wall-Of-Sounds-Caption h1{
	color:white;
}

.Visit-Wall-Of-Sounds{
	text-decoration: none;
	color:white;
	font-size: 22px;
}


.Side-Articles{
	display:inline-block;
	float:right;
	width:300px;
	position:absolute;
	top:425px;
	right:0px;
}

.Trending-Articles-Header{
	background:#222;
	height:40px;
	box-shadow: 0px 2px 2px 0px #000000;
	position:relative;
}

.Trending-Articles-Header p{
	margin-bottom:0 !important;
	font-size:18px;
	height:25px;
	color:white;
	position:absolute;
	width:136px;
	left:50%;
	margin-left: -68px;
	top:50%;
	margin-top:-12.5px;
}

.Trending-Article{
	height:100px;
	width:100%;
	background:#EAEAEC;
	margin-top: 2px;
	position:relative;
}
.Number-1{
	background:#3D9CDE;
	color:white;
	padding:0 7px 0 7px;
	font-size: 20px;
	display:inline-block;
}

.Number-2{
	background:#3D9CDE;
	color:white;
	padding:0 7px 0 7px;
	font-size: 20px;
	display:inline-block;	
}


.Number-3{
	background:#3D9CDE;
	color:white;
	padding:0 7px 0 7px;
	font-size: 20px;
	display:inline-block;
}

.Number-4{
	background:#3D9CDE;
	color:white;
	padding:0 7px 0 7px;
	font-size: 20px;
	display:inline-block;
}

.Number-5{
	background:#3D9CDE;
	color:white;
	padding:0 7px 0 7px;
	font-size: 20px;
	display:inline-block;
}


.Trending-Article p {
	display:inline-block;
	max-width: 180px;
	height:200px;
	max-height: 55px;
	font-size: 16px;
	position:absolute;
	left:136px;
	top:50%;
	margin-top: -27.5px;
	font-weight: bold;
	color:#2F7AAD;
}

.Article-Picture{
	height:70px;
	width:75px;
	border:1px solid black;
	position:absolute;
	top:50%;
	margin-top: -35px;
	left:48px;
}


/* Side Advertisements */





/* News-Paragraph */




.Final-Section{
}




.Video-Player-Wrapper{
	margin-top: 70px;
	margin-left: 25px;
	width:720px;
	padding: 30px 0 30px 0;
	background:#EEE;
}


.Video-Player{
	width:560px;
	margin:0 auto;
}








.Separator{
	height:61px;
	width:98%;
	margin:0 auto;
	border-bottom: 1px solid #E3E3E3;
}

.Last-Minute-Tips{
	position:relative;
	margin-top: 40px;
}

.social-media-square{
	display:inline-block;
	position:absolute;
	right:0px;

}

.Not-A-Member{
	height:125px;
	width:350px;
	display:inline-block;
	background:#222;
	color:#00B6FF;
	margin-left: 25px;
}

.Not-A-Member h2{
	text-align: center;
}

.Not-A-Member button {
	background:#00B3FD;
	display:block;
	border:none;
	width:151px;
	margin:0 auto;
}













.Comment-Box{
	background:#eee;
	width:680px;
	height:1100px;
	border-radius: 10px;
	display:inline-block;
}

.Comment-Text-Wrapper{
	background-color:#222;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height:50px;
	position:relative;
}

.Comment-Logo{
	color:white;
	margin-right:20px;
}

.Comment-info{
	display:block;
	width:520px;
	margin:0 auto;
}

.Comment-info p {
	display:inline-block;
	color:#FFF;
	font-size:25px;
}

.social-media-square{	
	position:absolute;
}

.social-media-square img {
	height:59px;
}




.CB-Side-AD-1{
	height:200px;
	width:260px;
	border:1px solid black;
	display:inline-block;
	background:blue;
	position: absolute;
	top:50px;
	right:10px;
	background:url(http://allthingsd.com/files/2013/03/Screen-Shot-2013-03-26-at-8.07.52-AM.png);
	background-size:contain;
	background-position: center;
}

.CB-Side-AD-2{
	display:inline-block;
	height:200px;
	width:260px;
	right:10px;
	background:yellow;
	position: absolute;
	top:300px;
	background:url(http://allthingsd.com/files/2013/03/Screen-Shot-2013-03-26-at-8.07.52-AM.png);
	background-size:contain;
	background-position: center;
}


.Ending-Article{
	margin-top: 50px;
	position:relative;
	margin-left: 25px;
}







/* News Content */


